<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registrar Artículo</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
<header>
    <nav>
        <ul>
            <li>
                <a th:href="@{/index}">
                    <img class="logo" src="https://th.bing.com/th/id/OIP.T9FgtmWGeb3g7J4KZPWgJAHaHa?rs=1&pid=ImgDetMain" alt="Logo">
                </a>
            </li>
            <li><a th:href="@{/registerPatient}">Gestión de Pacientes</a></li>
            <li><a th:href="@{/register}">Gestión de Empleados</a></li>
            <li><a th:href="@{/registerHabitacion}">Gestión de Habitaciones</a></li>
            <li><a th:href="@{/citas}">Gestión de Citas</a></li>
            <li><a th:href="@{/articulos/ingresar}">Gestion de articulos</a> </li>
            <li><a th:href="@{/ingresar_paciente}">Registro de Ingreso</a></li>
            <li><a th:href="@{/servicio/asignar}">Gestión de Servicios</a></li>
            <li><a th:href="@{/salidasPacientes/registrar}">Registro de Salida</a></li>
            <li><a th:href="@{/reportes}">Reportes</a></li>
            <li><a th:href="@{/quienesSomos}">Quiénes Somos</a></li>
        </ul>
    </nav>
</header>
<h1>Registrar Artículo</h1>

<!-- Formulario de búsqueda -->
<form th:action="@{/articulos/buscar}" method="get">
    <div>
        <label for="buscarId">Buscar por ID:</label>
        <input type="number" id="buscarId" name="id" required>
        <button type="submit">Buscar</button>
    </div>
</form>

<div th:if="${errorMessage != null}" th:text="${errorMessage}" style="color: red;"></div>

<!-- Formulario para registrar artículo -->
<form th:action="@{/articulos}" method="post" th:object="${articulo}">
    <div>
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" th:value="${articulo.nombre}" required>
    </div>
    <div>
        <label for="cantidad">Cantidad:</label>
        <input type="number" id="cantidad" name="cantidad" th:value="${articulo.cantidad}" required>
    </div>
    <div>
        <label for="descripcion">Descripción:</label>
        <input type="text" id="descripcion" name="descripcion" th:value="${articulo.descripcion}" required>
    </div>
    <div>
        <label for="habitacionId">ID Habitación:</label>
        <input type="number" id="habitacionId" name="habitacionId" th:value="${articulo.habitacion != null ? articulo.habitacion.id : ''}" required>
    </div>
    <div>
        <button type="submit">Registrar</button>
    </div>
</form>

<div>
    <button type="button" onclick="window.location.href='/articulos/listaArticulos'">Ver Lista de Artículos</button>
    <button type="button" onclick="window.location.href='/index'">Regresar al Menú Principal</button>
</div>

<!-- Mensaje de error -->
<div th:if="${errorMessage != null}" th:text="${errorMessage}" style="color: red;"></div>
</body>
</html>