<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registrar Salida</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
<header>
    <nav>
        <ul>
            <li>
                <a th:href="@{/index}">
                    <img class="logo" src="https://th.bing.com/th/id/OIP.T9FgtmWGeb3g7J4KZPWgJAHaHa?rs=1&pid=ImgDetMain" alt="Logo">
                </a>
            </li>
            <li><a th:href="@{/registerPatient}">Gestión de Pacientes</a></li>
            <li><a th:href="@{/register}">Gestión de Empleados</a></li>
            <li><a th:href="@{/registerHabitacion}">Gestión de Habitaciones</a></li>
            <li><a th:href="@{/citas}">Gestión de Citas</a></li>
            <li><a th:href="@{/articulos/ingresar}">Gestion de articulos</a> </li>
            <li><a th:href="@{/ingresar_paciente}">Registro de Ingreso</a></li>
            <li><a th:href="@{/servicio/asignar}">Gestión de Servicios</a></li>
            <li><a th:href="@{/salidasPacientes/registrar}">Registro de Salida</a></li>
            <li><a th:href="@{/reportes}">Reportes</a></li>
            <li><a th:href="@{/quienesSomos}">Quiénes Somos</a></li>
        </ul>
    </nav>
</header>
<h1>Registrar Salida de Paciente</h1>
<form th:action="@{/salidasPacientes/registrar}" method="post">
    <div>
        <label for="pacienteId">ID del Paciente:</label>
        <select id="pacienteId" name="pacienteId" required>
            <option th:each="paciente : ${pacientes}" th:value="${paciente.id}" th:text="${paciente.nomPaciente} + ' ' + ${paciente.apePaciente}"></option>
        </select>
    </div>
    <div>
        <button type="submit">Registrar Salida</button>
    </div>
</form>
<button onclick="window.location.href='/index'">Regresar al Menú Principal</button>
</body>
</html>